@if (lessons && lessons.length > 0) {
  <div *ngFor="let lesson of lessons" class="d-flex justify-content-center my-2">        
    <div class="card lesson-item" style="width: 15rem;" (click)="navigateToDetails(lesson.slug!)">
      <div class="card-body">
        <h5 class="card-title">{{ lesson.title }}</h5>
        <h6 class="card-subtitle mb-2">{{ lesson.description }}</h6>
      </div>
    </div>
  </div>
  <div *ngIf="totalItems>itemsPerPage">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
}