@import 'bootswatch/dist/zephyr/variables';

.material-sidebar {
    background: $primary;
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
} 

.material-item:hover {
    cursor: pointer;
    color: $white;
}

.material-list {
    margin: 0px;
    padding-left: 1rem;
}

.material-item {
    margin: 0px 5px 5px 0px;

    &.active {
        color: $white;
    }

    list-style: none;
}